.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: black;
}

.navbar-brand {
  color: red;
}

main {
  flex-grow: 1;

  background-color: rgb(67, 67, 67);
  color: #b0b0b0;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.card {
  border: none;
  background-color: black;
  color: white;

  min-height: 450px;
}

.card .overlay h2 {
  color: black;
}

.card .card-body {
  display: none;
}

.card:hover .card-body {
  cursor: pointer;
  display: block;
}

.card:hover .overlay {
  /*  opacity: 0%;
  transition: opacity 1s; */
  display: none;
}

.card-text {
  max-height: 200px;
  overflow: auto;
}

.fa-star,
.fa-star-half-stroke {
  color: rgb(255, 230, 0);
}
